html {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
}

body {
  background: white;
}

#contents {
  max-width: 50%;
  margin: auto;
}

#controller {
  margin: auto;
  width: 600px;
  height: 600px;
}

#sliders {
  display: flex;
  padding-top: 174px;
  padding-left: 2px;
}

.slidecontainer {
  transform: rotate(90deg);
  margin-right: -134px;
}

.slider {
  -webkit-appearance: none;
  width: 222px;
  height: 18px;
  border-radius: 10px;
  background: #000;
  outline: none;
  /*
  -webkit-transition: .2s;
  transition: opacity .2s;
  */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 10%;
  border: 18px solid #000;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  border: 18px solid #000;
  background: #fff;
  cursor: pointer;
}
