html {
  font-family: 'Audiowide', sans-serif;
}

body {
  background: white;
}

.title {
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

#contents {
  max-width: 50%;
  margin: auto;
}

#controller {
  width: 600px;
  height: 600px;
  border-radius: 10%;
  border: 18px solid #000;
  background: #fff;
}

#controls {
  padding-top: 140px;
}

#sliders-box {
  float: left;
  width: 74%;
  margin-left: -23px;
}

#sliders {
  display: flex;
}

.slidecontainer {
  transform: rotate(90deg);
  margin-right: -130px;
}

.slider {
  -webkit-appearance: none;
  width: 222px;
  height: 18px;
  border-radius: 10px;
  background: #000;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border-radius: 10%;
  border: 18px solid #000;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 45px;
  height: 45px;
  border-radius: 10%;
  border: 18px solid #000;
  background: #fff;
  cursor: pointer;
}

#buttons {
  margin-top: -98px;
  margin-left: 28px;
  width: 20%;
  display: inline-block;
}

.buttoncontainer {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.buttoncontainer input[type="checkbox"]:checked {
  background: #90EE90;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 18px solid #000;
  background: #fff;
  cursor: pointer;
}

.buttoncontainer i.fa {
  margin-left: 10px;
}

#grid-box {
  max-width: fit-content;
  margin: auto;
}

#grid {
  width: 500px;
  height: 230px;
  margin-top: 28px;
  background: #000;
  border-radius: 10px;
  border: 18px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 18px;
}

#grid .rect {
  background-color: #fff;
  cursor: pointer;
}

#grid .rect.colored {
  /* background-color: #57A0D2; */
  /* background-color: #A7C7E7; */
  cursor: pointer;
}
